.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #34495e;
}
